<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bmusic.bmusicworld">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.intent.action.PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/final_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".AppController"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".Welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
        <activity
            android:name="com.bmusic.bmusicworld.register.Login"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.bmusic.bmusicworld.register.MobileLogin"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.bmusic.bmusicworld.register.Register"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.bmusic.bmusicworld.register.MainLogin"
            android:theme="@style/AppTheme.NoActionBar"/>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider6610"
            android:exported="true"/>

        <activity android:name="com.bmusic.bmusicworld.payment.PaymentScreenPremium"/>
        <activity android:name=".payment.PayScreen"/>
        <activity android:name=".extra.Setting"/>

        <service android:name=".servermethod.DownloadService"/>
        <service android:name=".servermethod.DownloadService2"/>
        <service
            android:name="dm.audiostreamer.AudioStreamingService"
            android:enabled="true"
            android:exported="true" />
        <receiver android:name="dm.audiostreamer.AudioStreamingReceiver">
            <intent-filter>
                <action android:name="dm.audiostreamer.close" />
                <action android:name="dm.audiostreamer.pause" />
                <action android:name="dm.audiostreamer.next" />
                <action android:name="dm.audiostreamer.play" />
                <action android:name="dm.audiostreamer.previous" />
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>
        <receiver android:name=".service.SmsReceiver">
            <intent-filter android:priority="12344555">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <service
            android:name=".service.HttpService"
            android:exported="false" />
    </application>

</manifest>